<table class="table" *ngIf="users$ | async as users">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Email</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">{{user.id}}</th>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td>
      <button (click)="seeDetails(user.id)" type="button" class="btn btn-primary">See details</button>
    </td>
  </tr>
  </tbody>
</table>
